@import './var';
@import './font';

*{
  box-sizing: border-box;
}
body{
  background-color: darken(#eeeeee, 3%);
}
ul>li{
  list-style: none;
}
.nav__list{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: $font;
  font-weight: $weight;
  position: relative;
  top: 100px;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;

  font-family: $font;
  font-weight: $weight;


  max-width: 300px;
  max-height: 300px;
  padding:10px;
  position: absolute;
  top: 100px;


  background: transparent;
  color: #424141;
  border: 1px #274206 solid;
  outline: none;
}
.btn:hover {
  transform: translateY(-3px,3px);
  box-shadow: 0 5px 25px rgb(193, 196, 232);
  background-color: rgba(245, 245, 245, 0.57);
  cursor:pointer;
}
