@import './var';
@import './font';

*{
  box-sizing: border-box;
}
body{
  background-color: darken(#eeeeee, 3%);
}
ul>li{
  list-style: none;
}
.nav__list{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: $font;
  font-weight: $weight;
  position: relative;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $font;
  font-weight: $weight;


  max-width: 300px;
  max-height: 300px;
  padding:10px;
  position: absolute;
  top: 180px;


  background: transparent;
  color: #424141;
  border: 1px #274206 solid;
  outline: none;

}
